<DOCTYPE html>
<html>
    <head>
        <title>Formulario para introducir pacientes</title>
    </head>
    <body>
        <div class="container">
        <form action="/buscar/" method = "GET">
            <input type="number" name = "id" placeholder="Identifier" required>
            <input type="text" name="name" placeholder="Name" required>
            <input type="text" name="surname" placeholder="Surname" required>
            <input type="email" name="email" placeholder="E-mail">
            <input type ="text" name="address" placeholder="Address">
            <input type ="text" name="phone_number" placeholder="Phone_number">
            <input type="submit" class="btn btn-primary" value="Send">
        </div>
    </body>
</html>