<DOCTYPE html>
<html>
    <head>
        <title>Formulario para introducir pacientes</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    </head>
    <body>
        <div class="container">
        <form action="/insert/" method = "POST">{% csrf_token %}
            <input type="number" name = "id" placeholder="Identifier" required><br><br>
            <input type="text" name="name" placeholder="Name" required><br><br>
            <input type="text" name="surname" placeholder="Surname" required><br><br>
            <input type="email" name="email" placeholder="E-mail"><br><br>
            <input type ="text" name="address" placeholder="Address"><br><br>
            <input type ="text" name="phone_number" placeholder="Phone_number"><br><br>
            <input type="submit" class="btn btn-primary" value="Send">
        </div>
    </body>
</html>