{%extends "RequestHandler/base.html" %}
{%load static%}
{%block content%}

<!-- lista de pacientes -->
<div class="container">
    <h1 class="site-heading">Mis médicos</h1>

    <div class="col-mt-5" >
<table class="table table-light table-borderless" style= "border-radius:10px" border=0>
    <thead>
    <tr>
        <th class="col col-title" >Nombre</th>&nbsp;&nbsp;&nbsp;
        <th class="col col-title" >Apellido</th>
        <th class="col col-title" >Email</th>
        <th class="col col-title" >Departamento</th>
        <th class="col col-title" colspan="2" >Acciones</th>
      
        <!-- Columnas -->
    </tr>
    </thead>
    <tbody>
    {% for doctor in doctors %}

    {%if doctor.hospital == currentuser%}
    <tr>
        <td class="col col-display">{{ doctor.name }}</td>
        <td class="col col-display">{{ doctor.surname }}</td>
        <td class="col col-display">{{ doctor.email }}</td>
        <td class="col col-display">{{ doctor.department}}</td>
        <td class="col col-display"><a href="{% url 'DoctorData' doctor.id %}">Modificar datos</a></td>
        <td class="col col-display"><a href="{% url 'DeleteDoctor' doctor.id %}">Borrar</a></td>
    </tr>
    {%endif%}
    <!-- Filas -->
    {% endfor %}
    </tbody>
        </table>
            <a class = "btn btn-xl" style="align-self:right" href="{% url 'AddDoctor' %}">Añadir doctor</a>
        </div>
        {% if messages %}
        {%for message in messages%}
            {%if message.tags == 'error'%}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
            {%endif%}
            {%endfor%}
        {% endif %}
        <br>
        <br>
    </div>
{%endblock%}