{%extends "RequestHandler/base.html" %}
{%load static%}
{%block content%}
   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" id="centerimg" src="{%static 'hospital_app/img/fig3.jpg'%}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper"><strong>¿Quiénes somos?</strong></span>
            <span class="section-heading-lower">¿Qué es Hospital Handler?</span>
          </h2>
          <p class="mb-3">Hospital Handler es una aplicación web para facilitar el trabajo a los profesionales sanitarios de todo el mundo.
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Visualiza los datos de tus pacientes en tiempo real</span>
                <span class="section-heading-lower">gestiona tus citas, prescribe tratamientos... y más</span>
              </h2>
              <p class="mb-0">Hospital Handler está actualizada con la información de las terminologías y sistemas de información en salud más utilizados, como SNOMED-CT o HL7-FHIR.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
{%endblock%}