{%extends "RequestHandler/base.html" %}

{%block content%}

<!-- datos del paciente -->
<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {%if patient%}
        <h2 class="site-heading" style="color:white">Paciente {{patient_data.name}} {{patient_data.surname}}</h2>
        {%else%}
        <h2 class="site-heading" style="color:white">Nuevo paciente</h2>
        {%endif%}
        <form class= "site-heading lower" style="color:white" method="post">
          {% csrf_token %}
		  {% for field in form %}
		  <div class="form-group{% if field.errors %} has-error{% endif %}">
			<label for="{{ field.id_for_label }}">{{ field.label }}</label><br>
			{{ field }}
			{% for error in field.errors %}
			  <br><strong><span class="help-block">{{ error }}</span></strong><br>
			{% endfor %}
		  </div>
		{% endfor %}
          <button type="submit" class="btn btn-xl">Guardar cambios</button>
        </form>
      </div>
    </div>
  </div>

{%endblock%}