{%extends "RequestHandler/base.html" %}
{%load static%}
{%block content%}

<!-- lista de pacientes -->
<div class="container">
    <h1 class="site-heading">Mis pacientes</h1>

    <div class="col-mt-5" >
<table class="table table-light table-borderless" style= "border-radius:10px" border=0>
    <thead>
    <tr>
        <th class="col col-title" >Nombre</th>&nbsp;&nbsp;&nbsp;
        <th class="col col-title" >Apellido</th>
        <th class="col col-title" >Email</th>
        <th class="col col-title" >Médico de cabecera</th>
        <th class="col col-title" colspan="2">Acciones</th>
      
        <!-- Columnas -->
    </tr>
    </thead>
    <tbody>
    {% for patient in patients %}

    {%if patient.hospital == currentuser%}
    <tr>
        <td class="col col-display">{{ patient.name }}</td>
        <td class="col col-display">{{ patient.surname }}</td>
        <td class="col col-display">{{ patient.email }}</td>
        <td class="col col-display">{{patient.doctor.name}} {{patient.doctor.surname}}</td>
        <td class="col col-display"><a href="{% url 'PatientData' patient.id %}">Modificar datos</a></td>
        <td class="col col-display"><a href="{% url 'DeletePatient' patient.id %}">Borrar</a></td>
    </tr>
    {%endif%}
    <!-- Filas -->
    {% endfor %}
    </tbody>
        </table>    
            <a class = "btn btn-xl" style="align-self:right" href="{% url 'AddPatient' %}">Añadir paciente</a>
        </div>
        <br>
        <br>
    </div>
{%endblock%}